.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  width: 130px;
}

.App-header {
  background-color: rgb(62, 64, 61);
  padding: 8px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*custom*/
.wide{
  width: 100%;
}
body{
  background: #f1f1f3;
  color: #4f4f4f;
}
.card{
  box-shadow: 1px 1px 8px #e0dfdf;
  cursor: pointer;
}
.square{
  background: #e62078;
  color: #fff;
  padding: 10px;
  line-height: 18px;
}
.card-text{
  text-align: left;
  
}
.titles .col-md-9{
  padding-left: 0;
}
.titles .col-md-3{
  padding-right: 5px
}
.author img{
  border-radius: 50px;
  width: 50px;
}
.author-name {
  font-size: 0.8em;
}
.titles{
  padding: 12px;
  padding-bottom: 0;
}
.page-title {
  text-transform: uppercase;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.h2, h2 {
  font-size: 1.6rem;
}
.App-footer {
    height: 60px;
    background: #202020;
    color: #8b8787;
    padding-top: 20px;
}
 div#my-modal {
     width: 100%;
     position: fixed;
     height: 1px;
     display: none;
     background: #000;
     text-align: center;
     opacity: 0;
     -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
     -o-transition: all .3s ease;
     -ms-transition: all .3s ease;
     transition: all .3s ease;
     z-index: 99999;
}
div#my-modal img{
   margin: 10% auto;
   max-width: 400px;
   display: none;
}
 #close{
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    padding: 10px 40px;
    text-align: right;
    cursor: pointer;
}
 .show-it{
     width: 100% !important;
     background-image: linear-gradient(to right, #060606 , #777777) !important;
     height: 100vh !important;
     opacity: 9.9 !important;
     -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
     -o-transition: all .3s ease;
     -ms-transition: all .3s ease;
     transition: all .3s ease;
     display: block !important;
}
 .show-it img{
     display: block !important;
}


.card .hover { 
  opacity: 0;
  display: flex;
  position: absolute;
  height: 100%;
  background: #00000059;
  width: 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  align-items: center;

}
.card:hover .hover {
  opacity: 9.9;
  display: flex;
  position: absolute;
  height: 100%;
  background: #00000059;
  width: 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.container-hover {
    width: 100%;
    text-align: center;
    color: #fff;
}

.rounded {
    width: 50px;
    margin: auto;
    background: #e62078;
    /* height: 50px; */
    border-radius: 50px !important;
    padding: 12px;
}

.more-info{
  background: #2f2f2f;
}
.pr0{
  padding-right: 0;
}
.more-info{
  padding-left: 0;
  height: 100vh;
}
img#cover {
  margin: 0 !important;
  max-width: 100% !important;
  width: 100%;
}
img#avatar {
    padding: 0!important;
    margin: 0 auto !important;
    width: 90px;
    border-radius: 50px;
}
.hr {
    width: 90%;
    border-bottom: 1px solid #424242;
}
h3#title,
h5#author {
    padding: 15px;
    color: #989898;
    font-weight: 100;
}
.btn-buy {
    padding: 8px 30px;
    background: #60ba46;
    border-radius: 20px;
    margin-right: 15px;
    color: #fff;
    cursor: pointer;
    width: 145px;
    margin: 0 auto;
}
.btn-buy:hover{
    background: #4CAF50;
}
p#date {
    padding: 10px 30px;
    color: #ccc;
}
.carousel-item{
  height: 410px;
}
.banner-1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(http://www.jrwolfmusic.com/wp-content/uploads/2017/08/2017-07-14-Al-B-Jamboree-Blue-Moose-copy.jpg);
}
.banner-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(http://chasingthelightart.com/wp-content/uploads/12.jpg);
}
.banner-3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://ae01.alicdn.com/kf/HTB12SDUo3DD8KJjy0Fdq6AjvXXa2/OTARGOS-black-metal-heavy-concert-guitar-music-band-KC319-living-room-home-wall-modern-art-decor.jpg_640x640.jpg);
}

@media only screen and (max-width: 767px) {
  #close{
    position: fixed;
    top: 29px;
    z-index: 999999;
  }
}

